* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #131313;
  height: 80px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;

}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ffffff;
  background-image: linear-gradient(to right, #6286eb 0% , #6286eb 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-top: -20px;
} 

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}



.navbar__links:hover {
  color: rgb(98, 134, 235);
  transition: all 0.3s ease;
}


 #header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(img/pexels-victor-freitas-background.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}


@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 ;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 0%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 69;
    height: 75vh;
    font-size: 1.5rem;
  }

  #navbar__logo {
    padding-left: 15px;
    margin-top: -60px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    z-index: 99;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    z-index: 99;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


/* Welcome */
.container{
  z-index: 2000 !important;
}

.welcome {
 
  padding: 50px 100px;
  margin-top: -140px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  
}

.welcome h1 {
  color: #333;

}

.welcome .home-btn {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(98, 134, 235);
}

.welcome .btn:hover {
  box-shadow: none;
  color: #fff;
}

/* about  */
#about {
  padding-top: 100px;
  padding-bottom: 100px;
  
}
#about .col-md-6 {
  padding: 10px 10px;
}

#about h3 {
  margin: 40px auto;
}

/* Services  */
#services {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 80px;
}

#services .col-md-4 {
  padding: 20px;
}
#services .col-md-4 h4 {
  padding: 5px;
  display: flex;
  justify-content: center;
}
#services .col-md-4 .fas {
  font-size: 30px;
  display: flex;
  justify-content: center;
  
}
#services .col-md-4 p {
  padding: 5px;
  text-align: center;
}

/* feature  */

#features {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/pexels-leon-ardho-1552242.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#features .col-md-6 {
  padding: 20px;
}

.feature-box {
  height: 120px;
}
#features .col-md-6 img{
  width: 550px;
  margin-top: -10px;
  background-color: rgb(255, 255, 255, 0.08);
  border-radius: 1%;
  
}

.feature-box .feature-left {
  height: 120px;
  width: 20%;
  float: left;
}

.feature-box .feature-left .fa {
  padding-top: 13px;
  font-size: 50px;
}

.feature-box .feature-right {
  height: 120px;
  width: 80%;
  float: left;
}
.feature-box .feature-right h4 {
  padding-top: 5px;
  padding-left: 15px;
  text-align: left;
}
.feature-box .feature-right p {
  padding-left: 15px;
  text-align: left;
}

/* Testimonials  */
#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
#testimonials .col-md-4 {
  padding: 10px 30px;
}
#testimonials img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  border-bottom: 30px;
  border: 5px solid #fff;
}

.review {
  font-size: 16px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.review .fab {
  color: blue;
}

#testimonials span {
  color: #04478a;
  font-weight: 600;
  font-size: 18px;
}

#testimonials h1 {
  margin-bottom: 20px;
  color: #04478a;
}
#testimonials p {
  padding-bottom: 20px;
}

/* Subscribe  */

.subscribe {
  padding: 50px 20px;
  background-color: #04478a;
  position: relative;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: -160px;
}
.subscribe h3,
.subscribe p {
  color: #fff;
}

.subscribe .input-group {
  border-radius: 30px;
  background: #fff;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px;
}

.subscribe .form-control {
  border: none;
  background: transparent;
}
.subscribe .form-control:focus {
  box-shadow: none;
  background: transparent;
}

.subscribe .input-group-append {
  background-image: linear-gradient(to right, rgb(98, 134, 235), #5c8bef);
  border-radius: 30px;
}

.subscribe .input-group-text {
  background: transparent;
  border: none;
  color: #fff;
}
.subscribe .btn:focus {
  box-shadow: none;
}

/* Footer  */

#footer {
  margin-top: 80px;
  padding: 100px;
  background-color: #efefef;
  color: #04478a;
}

.footer-logo {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 15px;
}

#footer h1 {
  font-size: 15px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

#footer p {
  font-size: 12px;
  text-align: left;
}
#footer .fas,
.fab {
  padding-right: 10px;
  font-size: 15px;
}

#footer hr {
  margin-top: 10px;
}

#footer .copyright {
  margin-bottom: -80px;
  text-align: center;
}
